@font-face {
    font-family: Bebas;
    src: url(BebasNeueBold.otf);
}

body {
	padding-top: 0px;
	background: #F0AD4E;
	background-size: cover;
}
p {
	text-align: center;
	margin-top: 5px;
}
#header {
	background-color: #fff;
	min-height: 500px;
	margin-top: 10px;
	margin-bottom:10px;
	padding-top:30px;
	text-align: center;
}
#header p img {
	height: 100px;
	margin-bottom: 10px;
}
#header hr {
	max-width: 500px;
}
#header h1, #header h2, #header h3 {
	margin: 0;
	font-family: Bebas;
}
#header h1 {
	font-size: 70px;
	margin: 5px;
}